@import url(_reset.css);
@import url(_style.css);

i {
    padding: .25rem;
    margin: .25rem;
}

.line {
    display: flex;
    align-items: center;
}

main {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10rem;
}

.add-item {
    display: flex;
    flex-direction: column;

}

.add-item input {
    border-radius: 50px;
    margin: 2rem;
    padding: .5rem 1rem;
}

.add-item button {
    background: white;
    border-radius: 50px;
    color: var(--verde1);
    font-weight: bold;
    margin: 2rem;
    padding: 1rem 1rem;
}

.add-item button:hover{
    background: var(--verde2);
    color: white;
    font-weight: bold;
}

.inputs {
    align-items: center;
    background: var(--verde1);
    border-radius: 10px 0 0 10px;
    display: flex;
    height: 600px;
    justify-content: center;
    padding: 2rem;
    width: 300px;
}

.results {
    background: var(--roxo2);
    border-radius: 10px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    height: 590px;
    overflow: auto;
    padding: 1rem;
    width: 896px;
}

.show-schedule {
    background: var(--roxo1);
    border-radius: 15px;
    height: 245px;
    margin: 1.5rem;
    padding: 1rem;
    width: 245px;
}

.show-schedule:hover {
    /* border: white solid 1px; */
    box-shadow: black 2px 2px 10px;
}

@media screen and (max-width: 1530px){
    .results {
        width: 586px;
    }
}

@media screen and (max-width: 1237px){
    .results {
        width: 293px;
    }
}

@media screen and (max-width: 400px){
    main {
        flex-direction: column;
        margin: 3rem 0;
    }

    .add-item input {
        margin: 1rem;
    }

    .inputs {
        border-radius: 10px 10px 0 0;
        height: 450px;
    }

    .results {
        height: 450px;
    }
}